---

---

<div id="footer" class="bg-white dark:bg-gray-900 rounded-t-xl shadow-lg">
  <div class="py-4 text-center">
    <p class="text-gray-700 dark:text-gray-300">Learning by Doing</p>
  </div>
</div>
