---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true }),
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];

console.log(tags);
---

<Layout title="Tags" description="Tags" author="Jun Guo">
  <Card id="tags-container" prose>
    <h1 class="text-2xl font-bold">Tags</h1>
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
    </div>
  </Card>
</Layout>
