---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    id="main"
    class="max-w-xl mx-auto mt-12 p-8 bg-white dark:bg-gray-900 rounded-xl shadow-lg flex flex-col gap-6"
  >
    <div>
      <img
        src="https://green-wall.leoku.dev/api/og/share/gjuoun"
        alt="My contributions"
      />
    </div>
  </div></Layout
>
