---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<Layout>
  <div
    class="grid grid-flow-col gap-4 max-w-xl mx-auto mt-12 p-8 bg-white dark:bg-gray-900 rounded-xl shadow-lg"
  >
    {allPosts.map((post: any) => <BlogPost frontmatter={post.frontmatter} />)}
  </div>
</Layout>
