---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
import type { MarkdownPageProps } from "../layouts/MarkdownLayout.astro";

const allPosts: LoadedFile[] = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);

export type LoadedFile = {
  frontmatter: MarkdownPageProps;
  url: string;
};
---

<Layout>
  <div
    class="grid grid-flow-row gap-4 max-w-xl mx-auto mt-12 p-8 bg-white dark:bg-gray-900 rounded-xl shadow-lg"
  >
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} frontmatter={post.frontmatter} />
      ))
    }
  </div>
</Layout>
