---

---

<div id="header">
	<p class="text-3xl font-bold text-blue-500">hello</p>
</div>

<div id="main">
	<p class="text-3xl font-bold text-blue-500">hello</p>
</div>

<div id="footer">
	<p class="text-3xl font-bold text-blue-500">hello</p>
</div>

<style></style>
