---
const platform = "github";
const username = "gjuoun";
---

<footer>
  <p
    class="text-center text-sm text-gray-500 flex items-center justify-center gap-1"
  >
    Learn more about my projects on
    <a
      class="text-white inline-flex items-center gap-1"
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub Profile"
    >
      github
    </a>
    !
  </p>
</footer>
