---
import Layout, { type PageProps } from "./Layout.astro";

export type MarkdownPageProps = PageProps & {
  pubDate: Date;
  image: {
    url: string;
    alt: string;
  };
  url: string;
};

const { frontmatter } = Astro.props as { frontmatter: MarkdownPageProps };
---

<Layout {...frontmatter}>
  <div
    id="post"
    class="max-w-xl mx-auto mt-12 p-8 bg-white dark:bg-gray-900 rounded-xl shadow-lg "
  >
    <h1>{frontmatter.title}</h1>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Written by {frontmatter.author}</p>
    <img src={frontmatter.image.url} alt={frontmatter.title} />
    <slot />
    <div></div>
  </div></Layout
>
